rules:
  - apiGroups: [kustomize.toolkit.fluxcd.io]
    apiVersions: [v1]
    resources: [kustomizations]
    operations: [CREATE, UPDATE]
mutating: false
executionMode: gatekeeper
backgroundAudit: true
annotations:
  io.artifacthub.displayName: Kustomization Target Namespace
  io.artifacthub.keywords: flux
  io.artifacthub.resources: Kustomization
  io.kubewarden.policy.title: kustomization-target-namespace
  io.kubewarden.policy.description: "Kustomization targetNamespace must be one of the allowed targetNamespace list."
  io.kubewarden.policy.author: Kubewarden developers <cncf-kubewarden-maintainers@lists.cncf.io>
  io.kubewarden.policy.ociUrl: ghcr.io/kubewarden/policies/kustomization-target-namespace
  io.kubewarden.policy.url: https://github.com/kubewarden/rego-policies
  io.kubewarden.policy.source: https://github.com/kubewarden/rego-policies
  io.kubewarden.policy.license: Apache-2.0
  io.kubewarden.policy.category: best-practices
  io.kubewarden.policy.severity: medium
