on:
  push:
    tags:
      - "*/v*"

name: Release policy

jobs:
  calculate-policy-from-tag:
    runs-on: ubuntu-latest
    outputs:
      policy-name: ${{ steps.calculate-vars.outputs.policy_name }}
      policy-working-dir: ${{ steps.calculate-vars.outputs.policy_working_dir }}
      policy-version: ${{ steps.calculate-vars.outputs.policy_version }}
      policy-id: ${{ steps.calculate-vars.outputs.policy_id }}
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - id: calculate-vars
        shell: bash
        run: |
          # we expect a tag on the form of: ControllerContainerBlockSSHPort/v0.1.0
          # and want:
          #   policy_name="ControllerContainerBlockSSHPort"
          #   policy_working_dir="policies/ControllerContainerBlockSSHPort"
          #   policy_version="0.1.0"
          #   policy_id="controller-container-block-ssh-port" # from metadata.yml
          policy_name=$( echo ${{ github.ref_name }} | sed 's/\(.*\)\/\(.*\)$/\1/' )
          policy_working_dir=policies/"$policy_name"
          policy_ociUrl=$(yq -r '.annotations."io.kubewarden.policy.ociUrl"' $policy_working_dir/metadata.yml)
          policy_id=${policy_ociUrl##*/}

          echo "policy_name=$policy_name" >> $GITHUB_OUTPUT
          echo "policy_id=$policy_id" >> $GITHUB_OUTPUT
          echo "policy_working_dir=$policy_working_dir" >> $GITHUB_OUTPUT
          echo "policy_version=$( echo ${{ github.ref_name }} | sed 's/\(.*\)\/\(.*\)$/\2/' | cut -c2- )" >> $GITHUB_OUTPUT

          if [ ! -d "$policy_working_dir" ]; then
            echo "$policy_working_dir does not exist, policy not found";
            exit 1;
          fi

  unit-tests:
    needs: calculate-policy-from-tag
    name: run unit tests and linters
    uses: kubewarden/github-actions/.github/workflows/reusable-test-policy-rego.yml@5e22c63afd22d04a802a7a0463f66ffda6c3c71a # v4.5.7
    with:
      policy-working-dir: ${{ needs.calculate-policy-from-tag.outputs.policy-working-dir }}

  release:
    needs: [unit-tests, calculate-policy-from-tag]
    permissions:
      # Required to create GH releases
      contents: write
      # Required to push to GHCR
      packages: write
      # Required by cosign keyless signing
      id-token: write
    uses: kubewarden/github-actions/.github/workflows/reusable-release-policy-rego.yml@5e22c63afd22d04a802a7a0463f66ffda6c3c71a # v4.5.7
    with:
      oci-target: ghcr.io/${{ github.repository_owner }}/policies/${{ needs.calculate-policy-from-tag.outputs.policy-id }}
      policy-working-dir: ${{ needs.calculate-policy-from-tag.outputs.policy-working-dir }}
      policy-version: ${{ needs.calculate-policy-from-tag.outputs.policy-version }}

  release-catalog:
    needs: [calculate-policy-from-tag, release]
    uses: kubewarden/github-actions/.github/workflows/reusable-release-policy-catalog.yml@5e22c63afd22d04a802a7a0463f66ffda6c3c71a # v4.5.7
    with:
      policy-name: ${{ needs.calculate-policy-from-tag.outputs.policy-name }}
      policy-working-dir: ${{ needs.calculate-policy-from-tag.outputs.policy-working-dir }}
    secrets:
      # Required to dispatch the release event to the policy-catalog repository
      APP_ID: ${{ secrets.APP_ID }}
      APP_PRIVATE_KEY: ${{ secrets.APP_PRIVATE_KEY }}
